$blue = #00d3e4
$blueAlt = #003660
$yellow = #fcba00
$pink = #f382ae
$gray = #f6f3f2
$font-family = 'TTNorms'
$body-font-family = 'TTNorms'

@font-face
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-100.otf') format('opentype')
  font-weight 100
  font-style normal
  
@font-face
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-200.otf') format('opentype')
  font-weight 200
  font-style normal
  
@font-face
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-300.otf') format('opentype')
  font-weight 300
  font-style normal

@font-face
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-400.otf') format('opentype')
  font-weight 400
  font-style normal

@font-face
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-500.otf') format('opentype')
  font-weight 500
  font-style normal

@font-face
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-600.otf') format('opentype')
  font-weight 600
  font-style normal

@font-face 
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-700.otf') format('opentype')
  font-weight 700
  font-style normal

@font-face 
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-800.otf') format('opentype')
  font-weight 800
  font-style normal

@font-face 
  font-family 'TTNorms'
  font-display fallback
  src url('~/fonts/TTNorms-900.otf') format('opentype')
  font-weight 900
  font-style normal

.centered
  text-align center

body, #app
  background-color #ffffff

@require '~vuetify/src/stylus/app.styl'
